.custom-video-section .video-title {
  margin: 0 0 40px;
  line-height: 1.2;
}

.custom-video-section .video-container {
  display: grid;
  gap: 20px;
}

.custom-video-section .video-item {
  overflow: hidden;
  background: #000;
  line-height: 0;
}

.custom-video-section .video-item video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

@media screen and (max-width: 990px) {
  .custom-video-section .video-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 600px) {
  .custom-video-section .video-container {
    grid-template-columns: 1fr !important;
  }
}
